@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    color: white;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("./public/exercise-2/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    width: 70%;
    max-width: 600px;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin: 0 0 20px 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    width: 50%;
    max-width: 400px;
    font-size: 30px;
    text-align: center;
}

.title {
    width: 80%;
    max-width: 900px;
    height: 25vh;
    text-align: center;
    padding: 10px;
}

.titleImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.liveResult {
    max-width: 900px;
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 0 20px 0;
}

#score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    width: 15%;
    height: 15%;
    object-fit: contain;
    vertical-align: middle;
    margin: 0 15px 0 15px;
}

.b-grid {
    width: 80%;
    height: 80%;
    max-width: 900px;
    max-height: 900px;
    min-width: 300px;
    min-height: 300px;
    background-color: rgba(206, 206, 206, 0.863);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.644);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
    cursor: url("./public/exercise-2/cursor.png"), pointer;
    position: relative;
    display: none;
}

.finalWindow {
    width: 100%;
    height: 100%;
    background-color: rgba(206, 206, 206, 0.863);
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: 1s;
}

.b-square {
    width: 30%;
    height: 30%;
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-image: url("./public/exercise-2/hole.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    transition: 0.2s;
}

.diglett {
    background-image: url("./public/exercise-2/mole.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.2s;
}


.buttons {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0 3% 0;
}

.startButton{
    width: 40%;
    max-width: 200px;
    height: 3.5vh;
    font-size: 150%;
    background-color: rgba(255, 14, 14, 0.589);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.555);
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startButton:hover {
    scale: 1.2;
    background-color: rgba(255, 94, 46, 0.897);
    transition: 0.5s;
    box-shadow: 0 0 20px 5px rgba(255, 217, 135, 0.555);
}

.resetButton{
    width: 40%;
    max-width: 200px;
    height: 3.5vh;
    font-size: 150%;
    background-color: rgba(14, 110, 255, 0.589);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.555);
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetButton:hover {
    scale: 1.2;
    background-color: rgba(255, 242, 65, 0.589);
    transition: 0.5s;
    box-shadow: 0 0 20px 5px rgba(255, 217, 135, 0.555);
}